<div class="price-main-div">
  <div class="main_container-price">
    <h4 style="text-align: center; font-style: italic;">Change itm counts to update the prices.</h4>
    <table class="table table-bordered">
      <thead class="thead-light">
      <tr class="detail-view-table-header">
        <th class="">
          <div>Product Name</div>
        </th>
        <th class="">
          <div>Number of Items</div>
        </th>
        <th class="">
          <div>Actions</div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of itemPriceRequests; let i = index" class="detail-view-table-row">
        <td class="center-text">
          <label>
            <select (click)="handleSelectedProductChange($event, i)" class="prod-select">
              <!--            <option value="{{getProductName(item.productId)}}">{{getProductName(item.productId)}}</option>-->
              <option *ngFor="let p of products"
                      [disabled]="isProductDisabled(p.productId)"
                      [selected]="item.productId === p.productId"
                      value="{{p.productId}}">{{p.productName}}</option>
            </select>
          </label>
        </td>
        <td class="center-text">
          <input [(ngModel)]="item.itemCount" (change)="calculatePrice(i)" type="number" min="1"/>
        </td>
        <td class="center-text">
          <input (click)="removeItem(i)" class="button remove-btn" type="button" value="Remove"/>
        </td>
      </tr>
      <tr>
        <td colspan="5"><br/></td>
      </tr>
      <tr>
        <td class="btn-row" colspan="5">
          <input (click)="addNewItem()" class="button add-button" type="button" value="+ Click to Add Product"/>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="price-summary">
    <div class="summary-head">
      <h2>Price Summary</h2>
      <label class="sub-topic">Selected Products</label>
    </div>
    <div *ngIf="summaryItems.length != 0" class="prod-list">
      <div *ngFor='let it of summaryItems; let i = index'>
        <label class="prod-label"> {{getProductName(summaryItems[i].productId).productName}}:</label>
        <label class="prod-price">{{formatMoneyAmount(summaryItems[i].grossTotal)}}</label>
      </div>
    </div>
    <div class="prod-list">
      <h3>Order Total: <label class="prod-price">{{formatMoneyAmount(this.netTotal)}}</label></h3>
    </div>
    <div class="btn-buy-div">
      <input type="button" class="button btn-buy" value="Buy Now">
    </div>
  </div>
</div>
