<div class="price-main-div">
  <div class="main_container-price">
    <table class="table table-bordered">
      <thead class="thead-light">
      <tr class="detail-view-table-header">
        <th class="">
          <div>Product Name</div>
        </th>
        <th class="">
          <div>Number of Items</div>
        </th>
        <th class="">
          <div>Actions</div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of itemPriceRequests; let i = index" class="detail-view-table-row">
        <td class="center-text">
          <label>
            <select (click)="selectChangeHandler($event)" class="prod-select">
              <!--            <option value="{{getProductName(item.productId)}}">{{getProductName(item.productId)}}</option>-->
              <option *ngFor="let p of products" value="{{p.productId}}">{{p.productName}}</option>
            </select>
          </label>
        </td>
        <td class="center-text">
          <input [(ngModel)]="itemPriceRequests[i].itemCount" type="number" min="1"/>
        </td>
        <td class="center-text">
          <input (click)="calculatePrice()" class="button ui-button" type="button" value="Calculate Price"/>
          <input (click)="removeItem(i)" class="button remove-btn" type="button" value="Remove"/>
        </td>
      </tr>
      <tr>
        <td colspan="5"><br/></td>
      </tr>
      <tr>
        <td class="btn-row" colspan="5">
          <input (click)="addNewItem()" class="button add-button" type="button" value="+ Click to Add Product"/>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="price-summary">
    <div class="summary-head">
      <h2>Price Summary</h2>
      <label class="sub-topic">Selected Products</label>
    </div>
    <div *ngIf="summaryItems.length != 0" class="prod-list">
      <div *ngFor='let it of summaryItems; let i = index'>
        <label class="prod-label"> {{getProductName(summaryItems[i].productId).productName}}:</label>
        <label class="prod-price">{{summaryItems[i].grossTotal}}</label>
      </div>
    </div>
    <div class="prod-list">
      <h3>Order Total: <label class="prod-price">{{this.netTotal | number : '1.2'}}</label></h3>
    </div>
    <div class="btn`-buy-div">
      <input type="button" class="button btn-buy" value="Buy Now" id="buyBtn" (click)="buyModalDisplay($event)">
    </div>
  </div>

  <div id="myModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close" (click)="dismissModal()">&times;</span>
        <h2>Proceed to Buy</h2>
      </div>
      <div class="modal-body">
        <h4>Order Net Total: &nbsp;{{netTotal}}</h4>
      </div>
      <div class="modal-footer">
        <input type="button" class="button modal-ok" value="Buy Now" id="modalOkBtn" (click)="dismissModal()">
      </div>
    </div>
  </div>
</div>
