<p>product works!</p>

<table class="table table-bordered">
  <thead class="thead-light">
  <tr class="detail-view-table-header">
    <th class=""><div class="">Product Id</div></th>
    <th class=""><div class="">Product Name</div></th>
    <th class=""><div class="">Carton Size</div></th>
    <th class=""><div class="">Carton Price</div></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products | paginate:{ id: 'prod_pagination',
                                                           itemsPerPage: itemsPerPage,
                                                           currentPage: page,
                                                           totalItems: totalRecords }
        let i = index" class="detail-view-table-row">
    <td>{{product.productId}}</td>
    <td>{{product.productName}}</td>
    <td>{{product.cartonSize}}</td>
    <td>{{product.cartonPrice}}</td>
  </tr>
  <tr *ngIf="totalRecords == 0">
    <td colspan="3"><i>No records has found.</i></td>
  </tr>
  <tr *ngIf="totalRecords != 0">
    <td colspan="3">Total number of records has found: &nbsp; <b>{{totalRecords}}</b></td>
  </tr>
  </tbody>
</table>
<div class="row">
  <div aria-label="Page navigation example" style="margin: auto;">
    <pagination-controls (pageChange)="getCurrentPage($event)" directionLinks="true" id="prod_pagination"
                         maxSize="5" previousLabel="" nextLabel="" class="cutom-pg">
    </pagination-controls>
  </div>
</div>
